@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@theme {
  /* Custom Colors */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;
  --color-custom-color: #ffffffd9;
  --color-green: #00b241;
  --color-darkGray: #ededed;
  --color-darkGray1: #4d4d4d;

  /* Custom border color */
  --color-custom-border: #11001f;

  /* Shadow */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /* Fonts */
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .border-dark {
    border-color: var(--color-border-dark);
  }
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}

/* Slick Carousel Custom Styles */
.slick-dots li button::before {
  color: #4d4d4d !important;
  font-size: 12px !important;
}

.slick-dots li.slick-active button::before {
  color: #00b241 !important;
  font-size: 12px !important;
}

.dark .slick-dots li button::before {
  color: #ffffff !important;
}

.dark .slick-dots li.slick-active button::before {
  color: #00ff22 !important;
}

/* Custom media query */
@media (min-width: 480px) {
  .xs-flex-row {
    flex-direction: row;
  }
}
@media (max-width: 475px) {
  .hand-custom-position {
    position: absolute;
    top: 36;
    left: 106;
  }
}

.testmo-custom-text {
  font-size: 17px;
}
